* {
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  --primary-color: rgb(222, 237, 252);
}
body {
  color: rgb(97, 97, 97);
  font-family: monospace;
  line-height: 1.7em;
  font-size: 1.04em;
}

h3 {
  padding-top: 15px;
  color: rgb(61, 61, 61);
}
h4 {
  padding: 5px;
  width: auto;
  background-color: rgb(235, 235, 235);
}
.navbar-title {
  font-size: 22px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  color: black;
}
header {
  font-size: 18px;
  padding: 30px 0px;
  color: #000;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
}

.block {
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  height: 100%;
  background-color: gainsboro;
}

img {
  max-width: 500px;
  padding: 15px 0px;
  height: auto;
}
.index li {
  width: 100%;
}

.navbar {
  width: 230px;
  position: fixed;
  top: 0;
  padding: 20px;
  height: 100%;
  background-color: var(--primary-color);
}
.navbar ul {
  list-style-type: none;
}

.navbar li {
  color: royalblue;
}
.navbar li:hover {
  border-bottom: rgb(0, 0, 0) 1px solid;
}

section {
  padding-bottom: 40px;
}

strong {
  color: black;
}
.tip-block {
  padding: 20px;
  width: auto;
  background-color: rgb(253, 253, 179);
}
.versions {
  border: 1px solid grey;
  padding: 10px;
  background-color: rgb(238, 237, 237);
}

table {
  background-color: rgb(148, 148, 148);
  text-align: left;
}

td:first-child {
  padding: 2px 20px 2px 0;
  vertical-align: text-top;
}

ul a {
  text-decoration: none;
  font-size: 1rem;
}

.main-doc {
  padding: 20px 20px 20px 300px;
}
footer {
  display: inline-block;
  height: 30px;
  width: 100%;
  font-size: 24px;
}

@media (max-width: 820px) {
  body {
    display: flex;
  }
  .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
  }
  .navbar ul {
    display: flex;
    align-items: center;
  }
  .navbar a {
    padding: 0px 5px;
    font-size: 10px;
    text-decoration: underline double grey;
  }
  .navbar header {
    font-size: 13px;
    border-bottom: none;
    width: 80px;
    padding-right: 20px;
  }
  .main-doc {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
